<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786895284421-a91buf21sd7dunefoqbt1jq3aprvklmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786895284421-a91buf21sd7dunefoqbt1jq3aprvklmp</string>
	<key>API_KEY</key>
	<string>AIzaSyCuK7gnE6TWc_F0EAlpkYP78ZuSNCJmIUI</string>
	<key>GCM_SENDER_ID</key>
	<string>786895284421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tliny</string>
	<key>PROJECT_ID</key>
	<string>tliny-58de7</string>
	<key>STORAGE_BUCKET</key>
	<string>tliny-58de7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786895284421:ios:ba0498801ac36fe31b28ac</string>
</dict>
</plist>